<IfModule mod_rewrite.c>
  # mod_rewrite が有効な場合のみルールを適用する
  RewriteEngine On

  # 書き換えルールの基準となるパスを設定する
  RewriteBase /

  # 実ファイルやフォルダーでなければ次のRewriteRuleを適用する
  # - %{REQUEST_FILENAME}：リクエストされたファイルのパス
  # - !-f：ファイルが存在しない場合
  # - !-d：フォルダーが存在しない場合
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # FastAPIに処理を渡すため index.cgi に誘導する
  # - ^(.*)$：任意の1文字以上のパス(=すべてのパス)
  # - [L]：このルールがマッチしたら以降のルールを無視（Last）
  # - index.cgiにパスを渡す(FastAPIには`/index.cgi/パス`が渡される)
  RewriteRule ^(api/.*)$ index.cgi/$1 [QSA,L]
</IfModule>
