#!/home/<ユーザー名>/<保存先フォルダー>/location-logger-py/backend/.venv/bin/python

# 本ファイルを元にindex.cgiを作成する。
# 1行目は、backendをインストールした.venv配下のpythonのパス名に修正する。

from dotenv import load_dotenv
from pathlib import Path

# index.cgiと同じ場所に置いてある.envファイルを読み込む
env_path = Path(__file__).parent.resolve() / '.env'
load_dotenv(str(env_path))

from wsgiref.handlers import CGIHandler
from location_logger import create_app
from a2wsgi import ASGIMiddleware

# FastAPIには`/index.cgi/パス`が渡される
app = create_app(base_url='/index.cgi')
app = ASGIMiddleware(app)

CGIHandler().run(app)
